body{
  background-color: lightblue;
  size: 12px;
}

button{
  size: 15px;
  color: white;
  background-color: blue;
}

div{
  margin-bottom: 10px;
  border-bottom: solid blue 5px; 
}

h1{
  text-align: center;
}


img{
  width: 90%;
  height: auto;
}